[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.*"
psycopg2-binary = "==2.8.*"
whitenoise = "*"
sentry-sdk = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
autopep8 = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
